:root {
    --main-color: #045AFC;
    --tilte-color: #FFFFFF;
    --second-color: #a8d8eb;
    --second-color-opacity: rgba(2, 4, 9, 0.2);
    --active-color: #E7E307;
    --third-color: #F8E7F9;
    --black-color: #000000;
    --font-family-ppal: 'Raleway', sans-serif;
    --font-family-sec: 'Montserrat', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 140rem;
    font-size: 2rem;
    line-height: 1.5;
    background-image: radial-gradient(#fffdef, var(--second-color));
    font-family: var(--font-family-sec);
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 1.8rem auto;
}

a {
    text-decoration: none;
    color: var(--tilte-color);
    font-weight: bold;
}

li {
    list-style-type: none;
}


/* header */
.footer {
    background-image: linear-gradient(to top, #274590, var(--main-color));
}


.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}


.iconCam {
    width: 100%;
    height: auto;
    align-content: center;
    border-radius: 50%;
}

.icon {
    width: 5rem;
    min-width: 4rem;
    margin-left: 1rem;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title a:hover {
    color: var(--tilte-color);
}


.title-text {
    font-family: var(--font-family-ppal);
    padding: 1rem 0rem;
    margin-right: 3rem;
}


.nav-a {
    color: var(--tilte-color);
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-weight: bold;

}

.nav-background {
    background-image: linear-gradient(to top, #274590, var(--main-color));
}

.nav-a:hover {
    color: var(--main-color);
    background-color: var(--tilte-color);

}


/* btn theme y animation */

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }
}


/* //////////////////////////////// */

.isactive {
    color: var(--active-color);
}

.theme {
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 2rem;
}


/* main */

.img-size {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.main-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.big-image__location {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.location-text {
    font-weight: bold;
    color: var(--main-color);
    font-size: 3rem;
    cursor: pointer;
}

.block {
    margin-top: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1rem solid var(--main-color);
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.map iframe {
    border-radius: 16px;
    height: 100%;
}

.block p {
    font-weight: bold;
    font-style: italic;
}


.button {
    border: 2px solid var(--main-color);
    border-radius: 24px;
    width: 90%;
    height: 5rem;
    background-color: rgb(60, 60, 213);
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.button:hover {
    cursor: pointer;
    background-color: var(--second-color);
}

.button a {
    color: var(--tilte-color);
    font-size: 2.5rem;
    text-align: center;
    margin: 0 1rem;
    transition: all 0.5s ease;
}

.button:hover a {
    color: var(--black-color);
}


/* //////////////////////////////////////////////////////// */


/* contenido ppal */
.ppal-content {
    margin-top: 5rem;
}

.art1 {
    background-image: url(../assets/img/agramonte.jpg);
}

.art2 {
    background-image: url(../assets/img/sanaceciliajpg.jpg);
}

.art3 {
    background-image: url(../assets/img/playatitle.jpg);
}

.art1,
.art2,
.art3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ppal-content__text {
    width: 90%;
    margin: 0 auto;
    border: 6px solid var(--main-color);
    border-radius: 16px;
    margin-bottom: 2rem;
    color: var(--tilte-color);

}

.all-content {
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 1s;
    height: 100%;
    border-radius: 10px;
}

.all-content:hover {
    background-color: rgba(253, 253, 253, 0.7);
    cursor: pointer;
}

.all-content a:hover {
    color: #000;
}

.ppal-content__tilte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.ppal-content p {
    margin-bottom: 0;
    padding: 1rem 1rem;
}

.icon-content {
    width: 10rem;
    height: 10rem;
    background-color: var(--tilte-color);
    border-radius: 50%;
}


/* footer */
.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.red-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red__icon-footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}



.red__derechos p {
    font-size: 1.5rem;
    color: var(--tilte-color);
    text-align: center;
}


.footer svg:hover {
    cursor: pointer;
}

.navigation__footer-item {
    margin-right: 1rem;
}


.navigation__footer-item a:hover {
    color: var(--active-color);
}

/* question */

.question {
    margin-top: 3rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: center;

}

.question p,
.question a {
    display: inline;
}

.question a {
    color: var(--main-color)
}

.question a:hover {
    text-decoration: underline;
}

/* media-queries */

@media screen and (min-width:768px) {

    .block {
        display: flex;
        gap: 2rem;
    }

    .map,
    .location {
        width: 50%;
    }

    .button {
        width: 30rem;
    }

    .navigation__footer {
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }


    .facebook {
        margin-right: -5rem;
    }

}



@media screen and (min-width:900px) {
    .img-size {
        height: 60rem;
    }

}

@media screen and (min-width:1024px) {
    .ppal-content {
        display: flex;
        gap: 1rem;
    }

    .red-footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .btn-theme:hover {
        animation: shake 2s forwards;
    }

}



/* /////////////////////////////////////////////////////////////// */

/* Historia */
.content-title {
    border-top: 5px solid var(--main-color);
    border-bottom: 5px solid var(--main-color);
    width: 70%;
    margin-top: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.historyContent {
    width: 90%;
    border: 4px solid var(--main-color);
    border-radius: 16px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

}

.img1 {
    background-image: url("../assets/img/descubrimiento-cuba.jpg");
}

.img2 {
    background-image: url("../assets/img/ARQUITECTURA-COLONIAL-CUBANA_Joaquin-Emilio-WEISS_-Grabaado-de-la-Plaza-del-Mercado_Plaza-Vieja-de-la-Habana_Dibujo-Elias-Durnford.jpg");
}

.img3 {
    background-image: url("../assets/img/independencia-cuba.jpg");
}

.img4 {
    background-image: url("../assets/img/images.jfif");
}


.historyContent__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.historyContent__text {
    transition: all 1s ease;
    height: 100%;

}

.textColor-white {
    color: var(--tilte-color);
}

.historyText__title {
    margin-top: 0;
    padding-top: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.historyText__title {
    visibility: hidden;
}

.historyContent__text p {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    height: 100%;
    font-weight: bold;
    visibility: hidden;
}

.btn-container {
    padding: 1rem 1rem;
    visibility: hidden;
}

.btn-youtube {
    background-color: var(--main-color);
    width: 80%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    transition: all 1s ease;

}

.btn-youtube:hover {
    color: var(--black-color);
    background-color: var(--second-color);
}


.historyContent__text:hover>* {
    visibility: visible;
}

.historyContent__text:hover {
    background-color: rgba(0, 0, 0, .5);
}

.btn-youtube:hover strong {
    color: var(--black-color);
}

.btn-youtube:hover svg {
    fill: var(--black-color);
}

.back {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

/* .back-question {
    display: flex;
    justify-content: center;
    align-items: center;
} */


.back-question {
    margin: 2rem auto;
}

.back-question a,
.back-question p {
    display: inline;
}

.back-question a {
    margin-bottom: 1rem;
    margin-left: 0.2rem;
    color: var(--main-color)
}

.back-question a:hover {
    text-decoration: underline;
}

.back__icon :hover {
    cursor: pointer;
}

/* media queries */
@media screen and (min-width:1024px) {
    .historyContent {
        width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }

    .back {
        /*   padding-left: 2rem; */
        flex-direction: row;
        justify-content: flex-start;
    }

    /* .back .question {
        padding-left: 40rem;
    }
 */
}



/* /////////////////////////////////////////////////////////////// */

/* Contacto */
.form {
    margin-top: 3rem;
}

fieldset {
    height: auto;
    margin: 1rem auto;
    width: 95%;
    border: 2px solid var(--main-color);
    border-radius: 16px;
}


.form textarea {
    resize: none;
}

fieldset>* {
    display: block;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 16px;
    font-size: 1.8rem;
}

legend {
    font-size: 2.5rem;
    font-weight: bold;
}

fieldset [type="submit"] {
    background-color: var(--main-color);
    color: var(--tilte-color);
    font-weight: bold;
    border-radius: 24px;
    transition: all 0.5s ease;
}

fieldset [type="submit"]:hover {
    cursor: pointer;
    background-color: var(--second-color);
    color: var(--black-color);
}

.contact *::placeholder {
    color: #000;
}

[required]:valid {
    border: 3px solid green;
}

[required]:invalid {
    border: 3px solid red;
}

/* media queries */
@media screen and (min-width:768px) {
    fieldset [type="submit"] {
        width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ///////////////////////////////////////////////////////////////////////////// */

/* galeria */
.galery {
    margin-top: 3rem;
    display: grid;
    row-gap: 2rem;
}

.galery__img {
    width: 90%;
    max-width: 50rem;
    height: 30rem;
    border-radius: 5%;
    margin: 0 auto;

}

.galery__img img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-size: cover;
    cursor: pointer;

}

.extra-image {
    width: 90%;
    max-width: 50rem;
    height: 30rem;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    cursor: pointer;
}


.bI-one,
.bI-two {
    background-image: url(../assets/img/hoteles/CCC-Valentin-Cayo-Cruz-Pool-001.jpg);
    width: 90%;
    margin: 0 auto;
}

.bI-one {
    grid-row: 2;
}

.bI-two {
    grid-row: 15;
}



@media screen and (min-width:768px) {
    .galery {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
    }

    .extra-image {
        width: 95%;
        max-width: 110rem;
    }

    .bI-one {
        grid-column: 1/3;
    }

    .bI-two {
        grid-row: 8;
        grid-column: 1/3;
    }
}

@media screen and (min-width:1024px) {
    .galery {
        grid-template-columns: repeat(3, 1fr);
    }

    .bI-one {
        grid-column: 1/3;
    }

    .bI-two {
        grid-row: 5;
        grid-column: 2/4;
    }
}

/* /////////////////////////////////////////////////////////////////////////// */

/* destinos */
.travel {
    margin-top: 2rem;
}



.ppal-section__search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2rem auto;
}

.ppal-section__search input {
    border: 2px solid var(--main-color);
    border-radius: 16px;
    width: 60%;
    height: 4rem;
    padding-left: 1rem;
}

.ppal-section__search svg {
    width: 4rem;
    height: 4rem;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin-left: 1rem;

}

.ppal-section__search svg:hover {
    cursor: pointer;
    background-color: #FFFFFF;

}

.card {
    width: 90%;
    max-width: 45rem;
    height: 40rem;
    background-color: var(--third-color);
    border: 2px solid var(--main-color);
    border-radius: 5%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.card__img {
    padding-top: 2rem;
    width: 100%;
    height: 25rem;
    margin: 0 auto;

}

.card__img img {
    width: 90%;
    height: 100%;
    border-radius: 5%;
}

.card__text {
    margin: 2rem 1rem;
}

.btn-card {
    background-color: var(--main-color);
    width: 70%;
    height: auto;
    color: var(--tilte-color);
    margin: 2rem auto;
    border-radius: 16px;
}

.btn-card:hover {
    cursor: pointer;
    background-color: var(--second-color);
    color: var(--black-color);
}

/* mediaqueries */
@media screen and (min-width:768px) {
    .travel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .ppal-section__search input {
        width: 33rem;
    }
}

@media screen and (min-width:1024px) {
    .travel {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* color tema */
.dark {
    background-color: #000000;
    color: var(--active-color);
}